node_modules/
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

dist/
build/
sql/*.sqlite

.DS_Store
Thumbs.db

.vscode/
.idea/

my-project/.git/
my-project/node_modules/

*.mp4
*.mov
*.avi
*.zip
*.rar
*.exe
*.psd
